- if event.status == 1
  %span.label.label-warning
    = format_status(event.status)
- elsif event.status == 2
  %span.label.label-danger
    = format_status(event.status)
- else
  %span.label.label-inverse
    = format_status(event.status)
