.modal.fade#event-data-modal

%div{:style => "display: none;", :id => "use_environments", :rel => "#{use_environments?}"}

%table.dataTable.events_table.table.table-hover{'data-source' => '/events/events_table', :id => "primary_events_table"}
  %thead
    %th
    %th.col-md-1 Status
    - if use_environments?
      %th.col-md-1 ENV
    %th.col-md-2 Client
    %th.col-md-1 Check
    %th.col-md-4 Output
    %th.col-md-1 Action
    %th.col-md-1 Issued
    %th.col-md-1

  %tbody
