.modal#custom_stash_modal
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title Create stash
      .modal-body
        .form-group
          %label{:for => "custom_stash_key_input"} Enter key
          %input.form-control#custom_stash_key_input{:placeholder => "Stash key"}
        %p Note: No spaces, etc e.g. "silence/client_name/check_name"
        .form-group
          %label{:for => "custom_stash_description"} Description
          %textarea.form-control#custom_stash_description{:placeholder => "Stash description", :rows => "2"}
        %label{:for => "custom_stash_date_input"} Expire at (Optional)
        .row
          .col-md-6
            .form-group
              %label{:for => "#custom_stash_date_input"} Date:
              %input.datepicker.form-control#custom_stash_date_input
          .col-md-6
            .form-group
              %label{:for => "#custom_stash_time_input"} Time:
              %input.timepicker.form-control#custom_stash_time_input

      .modal-footer
        %a.stash-submit-event.btn.btn-info Submit
        %button.btn.btn-success.create-custom-stash-working
          Working...

%br
%br
%div
  %div.btn-group.pull-right
    %button.btn.btn-danger.dropdown-toggle{:id => "delete-all-stashes-button", 'data-toggle' => 'dropdown'}
      Delete All Stashes
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:id => 'delete-all-stashes', :rel => "/stashes/delete_all_stashes", :href => "#"} Yes, Nuke it
  %div.btn-group.pull-right
    %button.btn.btn-info.show-custom-stash-modal{:style => "margin-right: 10px;"}
      Create Stash
%br
%br


%h2== Stashes (<span id='stash_count'>#{@stashes.count}</span>)
%table.table.table-striped
  %thead
    %th.span5 Key
    %th.span4 Description
    %th Owner
    %th Expires in
    %th Set
    %th Action

  %tbody
    - if Gem::Version.new(@sensu_version) <= Gem::Version.new("0.9.11")
      - @stashes.each_with_index do |(k,v), i|
        = render "stash_row_legacy", :k => k, :v => v, :i => i
    - else
      - @stashes.each do |stash|
        = render "stash_row", :path => stash['path'], :content => stash['content']
